:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
}

a {
  color: var(--primary-color);
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background-color: #ccc;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--primary-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--primary-color);
}

.web__title,
.Me {
  color: #b70bed;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
  width: 200px;
}

.profile__text {
  flex: 1 1 100px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

button,
.button {
  border: none;
  font-family: inherit;
  background-color: #939;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

.button:hover,
.button:focus,
button:hover,
button:focus {
  cursor: pointer;
  opacity: 0.9;
}

.button__secondary {
  background-color: #0284d0;
  color: #fff;
}

.grid {
  display: grid;
}

.grid__item {
  background-color: lightgray;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  grid-gap: 20px;
}

.grid__item:last-child {
  grid-column-start: 3, 3;
  grid-row-start: 1, 3;
}

.about__header,
.pabout,
.ulabout,
.contact,
.contact__header {
  text-align: center;
  list-style-type: none;
}

.contact__container {
  text-align: center;
}

.about__me {
  max-width: 700px;
  margin: 0 auto;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

.about__resume,
.about__image {
  text-align: center;
}

.about__table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about__table,
.tabledata {
  border: 1px solid black;
  border-collapse: collapse;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
  }

  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@media all and (min-width: 480px) and (max-width: 750px) {
  .profile__portrait {
    width: auto;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
